
/*  showCategory style */

.main{
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    max-width:1000px;
}

.container{
    background-color: azure;
    display: block;
    margin-top:5px;
    padding:10px;
}

.container .container_items{
    margin:5px;
}

.container_items #show_table{
    width:100%;
    border-collapse: collapse;
    border:2px solid black;
    /* margin: 5px; */
}

/* .container_items #show_table, 
.container_items #show_table thead th,
.container_items #show_table tbody tr td{
    border-collapse: collapse;
    border:1px solid green;
} */

.container_items #show_table thead th{
    border:2px solid black;
    background-color: blanchedalmond;
}
.container_items #show_table tbody tr td{
    border-left: 1px solid black;
    text-align: center;
}

.container_items #show_table tbody tr td img{
    margin:5px;
}

/* for search and err blocks */

.container .container_head{
    text-align: right;
    margin:10px;
    padding:5px;
}

.container .container_head #searchSubmit{
    background-color: rgb(94, 65, 5);
    color:white;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
}